{% extends "reptile/reptile_base.html" %}
{% load static %}

{% block title %}Reptinote - ペット詳細の編集{% endblock %}

{% block extra_css %}
.btn-primary {
    background-color: #2e7d32 !important; /* ボタンの背景を緑に */
    border-color: #2e7d32 !important;     /* ボタンの枠線を緑に */
    color: #ffffff !important;            /* 文字は白に */
}
{% endblock %}


{% block content %}

<div class="container mt-5" style="max-width: 600px;">
    <div class="card shadow-sm p-4 bg-white rounded-3 border-0">
        <h3 class="fw-bold text-primary mb-4 text-center">{{ reptile.name }}の編集</h3>

        <form method="POST">
            {% csrf_token %}

            {% comment %} views.pyのfieldsをfieldという名前の変数に入れる {% endcomment %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label fw-bold text-dark">{{ field.label }}</label>
                    <div class="form-control-container">
                        {% comment %} 今処理している項目の入力タイプがselectなら {% endcomment %}
                        {% if field.field.widget.input_type == 'select' %}
                            {% comment %} field.nameに今処理している項目のプログラム上の英語名が入る {% endcomment %}
                            <select name="{{ field.name }}" class="form-select border-primary">
                                {% comment %} この項目が持っている選択肢のリストから、1ペアずつ取り出してchoiceという名前の箱に入れて繰り返して {% endcomment %}
                                {% for choice in field.field.choices %}
                                    <option value="{{ choice.0 }}"{% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {% comment %} それ以外なら入力箱 {% endcomment %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control border-primary" value="{{ field.value|default:""}}">
                        {% endif %}
                    </div>
                    {% if field.errors %}
                        {% comment %} エラーがあったら赤で小さく警告文字 {% endcomment %}
                        <div class="text-danger small">{{ field.errors.0 }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary px-4 fw-bold">更新する</button>
                <a href="{% url 'reptile_detail' record_id=reptile.id %}" class="btn btn-secondary px-4 ">戻る</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}