{% extends "user/base.html" %}
{% block content %}

#パスワード変更が成功した場合
#もしviews.pyからmessageという変数（「新しいパスワードを設定しました…」という文章）が送られてきていたら
{% if message %}
    <p>{{ message|linebreaksbr }}</p>

    #ログイン画面に戻るボタン
    <a href="{% url 'user:login' %}" style="display: inline-block; margin-top: 15px; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px">
        ログイン画面へ戻る
    </a>
#messageが空　入力中なら
{% else %}
    <h1>新しいパスワードの設定</h1>
    <form method="POST">
        {% csrf_token %}
        #forms.py→views.py で作った SetNewPasswordForm
        {{ form.as_p }}
        <input type="submit" value="パスワードを変更">
    </form>
{% endif %}
{% endblock %}