{% extends "reptile/reptile_base.html" %}
{% load static %}

{% block title %}Reptinote - 設定{% endblock %}


{% block active_settings %}text-decoration-underline text-primary{% endblock %}

{% block extra_css %}
.setting-link {
    color: #212529 !important; 
    text-decoration: underline !important;
    transition: color 0.2s ease-in-out;
}
.setting-link:hover {
    color: #2e7d32 !important;
}
{% endblock %}


{% block content %}
<div class="container mt-5" style="max-width: 600px;">

    {% if messages %}
        {% for message in messages %}
            <div class="mb-4" style="color: red; font-width: bold; font-size: 1.1rem;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h3 class="fw-bold text-dark mb-4">設定</h3>

    <div class="card shadow-sm p-4 bg-white rounded-3 border-0">
        <div class="d-flex flex-column gap-4 fs-5" style="padding-left: 1rem;">

            <div>
                <a href="{% url 'user:password_change' %}" class="setting-link">パスワード変更</a>
            </div>

            <div>
                <a href="{% url 'user:email_change' %}" class="setting-link">メールアドレス変更</a>
            </div>

            <div>
                <a href="{% url 'reptile:invite_url_add' %}" class="setting-link">招待用URL発行</a>
            </div>

            <div>
                <a href="{% url 'reptile:member_list' %}" class="setting-link">共有しているメンバー一覧</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}